In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.1.4'

In [4]:
df = pd.read_csv('laptops.csv')

In [7]:
len(df)

2160

In [10]:
len(df.Brand)

2160

In [11]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [22]:
df[['Brand', 'Final Price']]

       Brand  Final Price
0       Asus      1009.00
1     Alurin       299.00
2       Asus       789.00
3        MSI      1199.00
4         HP       669.01
...      ...          ...
2155   Razer      2699.99
2156   Razer      2899.99
2157   Razer      3399.99
2158   Razer      1899.99
2159   Razer      1699.99

[2160 rows x 2 columns]

In [24]:
df[df["Brand"] == 'Dell'],

(                                                 Laptop       Status Brand  \
 161   Dell Vostro 3510 Intel Core i3-1115G4/8 GB/256...          New  Dell
 271   Dell Vostro 3510 Intel Core i5-1135G7/8 GB/256...          New  Dell
 281   Dell Vostro 3520 Intel Core i7-1255U/16GB/512G...          New  Dell
 319   Dell Latitude 3520 Intel Core i5-1135G7/8GB/25...          New  Dell
 328   Dell Vostro 3510 Intel Core i5-1135G7/16 GB/51...          New  Dell
 ...                                                 ...          ...   ...
 1843  Dell Vostro 5301 Intel Core i5-1135G7/8GB/256G...  Refurbished  Dell
 1844  Dell Vostro 5301 Intel Core i5-1135G7/8GB/512G...  Refurbished  Dell
 1845  Dell Vostro 5502 Intel Core i5-1135G7/8GB/512G...  Refurbished  Dell
 1846  Dell XPS 13 9300 Intel Core i5-1035G1/8GB/512G...  Refurbished  Dell
 1847  Dell XPS 7390 Intel Core i7-10510U/16GB/512GB ...  Refurbished  Dell

          Model            CPU  RAM  Storage Storage type  GPU  Screen Touch  \
 161     Vostro  Intel Core i3    8      256          SSD  NaN    15.6    No
 271     Vostro  Intel Core i5    8      256          SSD  NaN    15.6    No
 281     Vostro  Intel Core i7   16      512          SSD  NaN    15.6    No
 319   Latitude  Intel Core i5    8      256          SSD  NaN    15.6    No
 328     Vostro  Intel Core i5   16      512          SSD  NaN    15.6    No
 ...        ...            ...  ...      ...          ...  ...     ...   ...
 1843    Vostro  Intel Core i5    8      256          SSD  NaN    13.3    No
 1844    Vostro  Intel Core i5    8      512          SSD  NaN    13.3    No
 1845    Vostro  Intel Core i5    8      512          SSD  NaN    15.6    No
 1846       XPS  Intel Core i5    8      512          SSD  NaN    13.4    No
 1847       XPS  Intel Core i7   16      512          SSD  NaN    13.3    No

       Final Price
 161        599.00
 271        690.15
 281        889.00
 319        789.00
 328        869.00
 ...           ...
 1843       420.74
 1844       511.59
 1845       549.93
 1846       699.00
 1847      1086.88

 [84 rows x 12 columns],)

In [25]:
dell_notebooks = df[df['Brand'] == 'Dell']

In [26]:
dell_notebooks[['Brand', 'Final Price']]

     Brand  Final Price
161   Dell       599.00
271   Dell       690.15
281   Dell       889.00
319   Dell       789.00
328   Dell       869.00
...    ...          ...
1843  Dell       420.74
1844  Dell       511.59
1845  Dell       549.93
1846  Dell       699.00
1847  Dell      1086.88

[84 rows x 2 columns]

In [27]:
max_price_dell = dell_notebooks.loc[dell_notebooks['Final Price'].idxmax()]

In [28]:
max_price_dell

Laptop          Dell Precision 5770 Intel Core i7-12700H/16GB/...
Status                                                        New
Brand                                                        Dell
Model                                                   Precision
CPU                                                 Intel Core i7
RAM                                                            16
Storage                                                       512
Storage type                                                  SSD
GPU                                                     RTX A2000
Screen                                                       17.0
Touch                                                         Yes
Final Price                                                3936.0
Name: 1335, dtype: object

In [29]:
median_screen = df['Screen'].median()

In [30]:
median_screen

15.6

In [31]:
most_frequent_screen = df['Screen'].mode()[0]

In [32]:
most_frequent_screen

15.6

In [33]:
df['Screen'] = df['Screen'].fillna(most_frequent_screen)

In [34]:
df['Screen'].isnull().sum()

0

In [35]:
median_screen = df['Screen'].median()

In [36]:
median_screen

15.6